<!---------------------------
----- SECCION CLIENTE ------
---------------------------->
<section class="member-section">

  <div class="row top-bar">

    <div class="col-2 logo pt-3 pr-2">

      <img src="assets/media/logo.svg" alt="ow logo" class="nav-logo">

    </div>

    <div class="col-10 toolbar">

      <div class="logout mr-4 mt-4" (click)="logout()">

        <p>Salir</p>

      </div>

    </div>

  </div>

  <div class="row display">

    <div class="col-2 members-menu">

      <!---------------------------
      ------- MENU CLIENTE --------
      ---------------------------->

      <mat-nav-list class="mt-5">

        <li class="mat-menu-item" routerLinkActive="active">
          <a  routerLink="/home"><i class="fas fa-home"></i><p class="text-center">Inicio</p></a>
        </li>
        <li class="mat-menu-item" routerLinkActive="active">
          <a  routerLink="/personal-data"><i class="fas fa-user"></i><p class="text-center">Datos Personales</p></a>
        </li>
        <li class="mat-menu-item" routerLinkActive="active">
          <a  routerLink="/professional-data"><i class="fas fa-weight-hanging"></i><p class="text-center">Datos Profesionales</p></a>
        </li>

      </mat-nav-list> 

    </div>

    <div class="col-10 content"  >

      <!---------------------------
      -------- CONTENIDO ---------
      ---------------------------->
      <router-outlet > </router-outlet>

    </div>

  </div>

</section>
