<!---------------------------
----- SECCION CLIENTE ------
---------------------------->
<section class="cliente-section">

  <div class="row top-bar">

    <div class="col-2 logo pt-3 pr-2">

      <img src="assets/media/logo.svg" alt="ow logo" class="nav-logo">

    </div>

    <div class="col-10 toolbar">

      <div class="logout mr-4 mt-4" (click)="logout()">

        <p>Salir</p>

      </div>

    </div>

  </div>

  <div class="row display">

    <div class="col-2 cliente-menu">

      <!---------------------------
      ------- MENU CLIENTE --------
      --------------------------

      <mat-nav-list class="mt-5">

        <li class="mat-menu-item" routerLinkActive="active">
          <a  routerLink="/inicio"><i class="fas fa-home"></i><p class="text-center">Inicio</p></a>
        </li>
        <li class="mat-menu-item" routerLinkActive="active">
          <a  routerLink="/datos-personales"><i class="fas fa-user"></i><p class="text-center">Datos Personales</p></a>
        </li>
        <li class="mat-menu-item" routerLinkActive="active">
          <a  routerLink="/datos-profesionales"><i class="fas fa-weight-hanging"></i><p class="text-center">Datos Profesionales</p></a>
        </li>

      </mat-nav-list> -->

    </div>

    <div class="col-10 contenido" [@routeAnimations]="prepareRoute(outlet)" >

      <!---------------------------
      -------- CONTENIDO ---------
      ---------------------------->
      <router-outlet #outlet="outlet"> </router-outlet>

    </div>

  </div>

</section>
