 <!--profesion-->
 <mat-card class="example-card">
  <mat-card-header>
    <!--Avatar-->
    <div class="mat-card-avatar">

    </div>
    <mat-card-title><mat-label>Profesion</mat-label></mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="tp-form">

      <mat-form-field class="tp-full-width">
        <input matInput placeholder="Rubro">
      </mat-form-field>
      <mat-form-field class="tp-full-width">
        <input matInput placeholder="Profesion">
      </mat-form-field>
      <mat-form-field class="tp-full-width">
        <input matInput placeholder="Habilidades">
      </mat-form-field>
      <mat-form-field class="tp-full-width">
        <textarea matInput placeholder="Proyectos previos"></textarea>
      </mat-form-field>

    </form>


  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Modificar</button>
    <button mat-button class="guardar">Guardar</button>
  </mat-card-actions>
</mat-card>
